<!-- Header -->
<header class="bg-primary text-center py-5 mb-4">
    <div class="container">
      <h1 class="font-weight-light text-white">Characters</h1>
    </div>
  </header>
  
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Character 1 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="" class="card-img-top" alt="">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Character</h5>
            <div class="card-text text-black-50">Bio</div>
          </div>
        </div>
      </div>
      <!-- Character2 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="" class="card-img-top" alt="">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Character</h5>
            <div class="card-text text-black-50">Bio</div>
          </div>
        </div>
      </div>
      <!-- Character 3 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="" class="card-img-top" alt="">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Character</h5>
            <div class="card-text text-black-50">Bio</div>
          </div>
        </div>
      </div>
      <!-- Team Member 4 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="" class="card-img-top" alt="">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Character</h5>
            <div class="card-text text-black-50">Bio</div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->